body {
 background-image: url("background.jpg");
 background-size: cover;
}

h1,p {
	margin: auto;
	width: 20vw;
	text-align: center;
	padding: 10px;
	border: 5px solid rgb(100, 149, 237);
	background-color: white;
	border-radius: 25px;
}